//
//  AppConfig.xcconfig
//  WeatherApp
//
//  Created by dedeepya reddy salla on 03/06/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

INFO_USAGE_DESCRIPTION_LOCATION = Need location access to display the weather of your current location;
